<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <span style="display: inline;"> 
       
       <h1>Hacker News <a href="/posts"><button>Submit</button></a></h1>
    
</span>
    <% posts.forEach((items)=>{ %>
        <strong style="font-size: 25px;"><%= items.postId %>.</strong>
        <a href="" class="title">
            <b><%= items.title %></b>
        </a>
        (
        <a href="">
            <%= items.Url %>
        </a>)
        <br />
        <%= items.content %>
            <br />
            <br />
            <% }); %>
    </body>
</html>