<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/posts" method="POST"> 
        <label for="title">title </label><input name="title" type="text">
        <label for="Url">Url </label><input name="Url" type="text">
        <label for="content">content </label><input name="content" type="text">
        <button type="submit"> save</button>
     </form>
</body>
</html>